<!DOCTYPE html>
<html>
<head>
  <title>Monoblog</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
  <body ng-app="monoblog">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div ng-include="'views/_nav.html'"></div>
        
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <ui-view></ui-view>
        
    </div>
  </body>
</html>
